.about {
    &__content {
        display: flex;

        &__img {
            flex: 1;
        }

        &__text {
            flex: 1;

            &__title {
                margin-top: 30px;

                h3 {
                    @include font-a(#000, 18px, 600);
                    text-transform: uppercase;
                }

                p {
                    line-height: 1.5;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }

                a {
                    font-size: 12px;
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
}