extends ../layouts/detail-layout.pug

block main-detail
    main
        // Path
        include ../layouts/path-layout/path
        // Detail Product
        include ../layouts/detail-layout/detail-product
        // Information Product
        include ../layouts/detail-layout/info-product