.product {
    width: 100%;
    height: 806px;
    background-image: url('../../../../assets/img/home/bg-product.jpg');
    border-top: 1px solid #dedddd80;
    border-bottom: 1px solid #dedddd80;

    &__title {
        margin: 0 auto;
        padding: 70px 0;
        width: 60%;

        &__name {
            display: flex;
            font-family: UTMAndrogyne;
            align-items: center;
            color: #c2c2c2;

            .product__title__name--new {
                flex: 1;
                padding-right: 20px;
                font-size: 18px;
                display: flex;
                justify-content: flex-end;
            }

            .product__title__name--hot {
                flex: 2;
                padding: 0 20px;
                border-left: 1px solid #e6e6e6;
                border-right: 1px solid #e6e6e6;
                font-size: 33.93px;
                color: $green;
            }

            .product__title__name--special {
                flex: 1;
                padding-left: 20px;
                font-size: 18px;
            }
        }

        &__underline {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            img {
                width: 40%;
            }
        }

        &__menu {
            margin-top: 30px;
            ul {
                display: flex;
                justify-content: space-between;
                width: 80%;
                margin: 0 auto;

                li {
                    a {
                        font-size: 14px;
                        color: #8b8b8b;
                    }
                }
            }
        }
    }

    &__items {
        display: flex;
        margin: 0 40px;
        justify-content: space-between;

        &__detail {
            width: 25%;
            height: 400px;
            background: #fff;
            margin: 0 15px;
            position: relative;

            img {
                border-bottom: 1px dashed $light;
                width: 100%;
                height: 260px;
            }

            &:hover &__icon {
                opacity: 1;
            }

            &__icon {
                margin-top: 10px;
                width: 100%;
                background: #fff;
                opacity: 0;
            }
        }

        .product__items__detail--arrow-right {
            position: absolute;
            top: 40%;
            right: -25px;
            font-size: 30px;
            font-weight: 300;
        }

        .product__items__detail--arrow-left {
            position: absolute;
            top: 40%;
            left: -25px;
            font-size: 30px;
            font-weight: 300;
        }
    }
}