.info-product {
    article {
        margin-right: 10px;

        .info-product__title {
            border-bottom: 1.5px solid #dedddd80;
            text-transform: uppercase;
            padding-bottom: 5px;
            margin-bottom: 50px;

            a {
                text-decoration: none;
                margin-right: 30px;
                @include font-a($darkGray,18px, 700);
            }

            .light {
                color: #000;
            }
        }

        .info-product__content {
            display: flex;
            flex-direction: column;

            &__item {
                display: flex;

                .info-text1 {
                    flex: 3;
                    text-align: left;
                    margin: auto 0;
                }

                .info-img1 {
                    flex: 1;
                }

                .info-text2 {
                    flex: 3;
                    order: 2;
                    text-align: right;
                    margin: auto 0;

                    .border-bottom {
                        margin-left: auto;
                    }
                }

                .info-img2 {
                    flex: 1;
                    order: 1;
                }

                h5 {
                    text-transform: uppercase;
                    color: $darkGray;
                    font-weight: 400;
                }

                .border-bottom {
                    width: 50px;
                    height: 1.5px;
                    background: #dedddd80;
                    margin-bottom: 15px;
                }

                p {
                    color: #8e8e8e;
                }
            }
        }
    }

    aside {
        margin-left: 10px;

        .info-product__selling {
            margin-bottom: 40px;

            h3 {
                text-transform: uppercase;
                @include font-a(#000, 18px, 700);
                border-bottom: 1.5px solid #dedddd80;
                padding-bottom: 5px;
                margin-bottom: 20px;
            }

            &__item {
                display: flex;

                &.item-border {
                    border-bottom: 2px dotted #dedddd80;
                }

                img {
                    flex: 1;
                }

                &__content {
                    flex: 2;
                    margin: 10px 0 60px 20px;

                    p {
                        font-size: 13px;
                    }

                    .info-product__selling__item__content--appreciate {
                        display: flex;
                        align-items: center;
                        margin: 10px 0;

                        i {
                            margin-right: 2px;
                            font-size: 11px;
                        }

                        p {
                            color: #8e8e8e;
                        }
                    }

                    span {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}