@import '../base/placeholders';

.logo {
    display: flex;
    position: relative;

    .logo-square {
        position: relative;
        width: 55px;
        height: 55px;
        background: #789629;
        border-radius: 50%;
    }
    
    .logo-img {
        position: absolute;
        left: 0;
        padding: 10px 5px;
    }
}

.price {
    font-family:  $Lobster;
    position: relative;
    color: $green;
    font-size: 14px;
    font-weight: 500;

    small {
        position: absolute;
        top: 0;
    }
}

.price.old {
    font-family:  $Lobster;
    position: relative;
    color: #e3e3e3;
    font-size: 14px;
    font-weight: 500;
    margin-left: 15px;

    small {
        position: absolute;
        top: 0;
    }
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid $green;
    position: fixed;
    top: 65px;
    margin-left: 30px;
    display: none;
}

.arrow-left {
    @extend %arrow;
    left: -20px;
}

.arrow-right {
    @extend %arrow;
    right: -20px;
}

.buy {
    font-size: 18px;
    text-transform: uppercase;
}

.content {
    position: relative;

    .title-right {
        left: 25%;
        color: #fff;
    }

    .title-left {
        left: 25%;
    }

    .title-right,
    .title-left {
        position: absolute;
        top: 40%;
        text-align: center;
    
        p {
            font-size: 30px;
            z-index: 1000;
            text-transform: uppercase;
        }
    }
}

.item {
    display: flex;
    color: #e8e8e8;
    cursor: pointer;

    &:hover {
        color: #000;
    }

    &:hover .icon {
        border: 2px solid #000;
    }

    .icon {
        width: 30px;
        height: 30px;
        border: 2px solid #e8e8e8;
        border-radius: 50%;
        display: flex;
        align-items: center;
    
        i {
            margin: 0 auto;
        }
    }

    p {
        margin-left: 10px;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 14px;
    }

    .bar {
        width: 1px;
        height: 30px;
        transform: rotate(45deg);
        background: #e8e8e8;
        margin: 0 40px;
    }

    .bar.disable {
        display: none;
    }
}

.disable {
    display: none;
}

.path {
    position: relative;
    height: 125px;

    &__content {
        width: 100%;
        margin-top: 75px;
        border-bottom: 1px solid #dedddd80;
        position: absolute;
        // z-index: 1100;

        ul {
            display: flex;
            padding: 10px 0;

            li {
                &.path__content--green a,i {
                    color: $green;
                }

                a {
                    font-size: 12px;
                    color: #000;
                }

                i {
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
        }
    }
}

.item-buying {
    padding: 20px 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    button {
        @extend %button-hover;

        &:hover {
            background: $green;
            color: #fff;
        }
    }

    a {
        @extend %button-hover;

        i {
            margin: 0 2px;
        }

        &:hover {
            background: $green;
            color: #fff;
        }

        &:hover {
            background: $green;
            color: #fff;
            transform: rotate(360deg);
        }
    }
}

.detail-price {
    span {
        font-family: $Lobster;
        @include font-a(#000, 29px, inherit);
        margin-right: 5px;
    }

    small {
        font-family: $Lobster;
        @include font-a($smokyGray, 20px, inherit);
        margin-left: 5px;
    }
}

.item-input {
    width: 80%;
    position: relative;

    input {
        width: 100%;
        padding: 10px 20px;
        outline: none;
    }

    i {
        position: absolute;
        top: 25%;
        right: 5px;
        color: $smokyGray;
        cursor: pointer;
    }
}