.background
    .background__img
        .box
            .background__img__content
                h2.background__img__content--green GreenVera
                p.background__img__content--brown   Sản phẩm tinh dầu dưỡng da mới nhất của Mandala
                span.background__img__content--green.price Giá chỉ 750.000
                    small đ
                br
                a.buy(href="#") mua hàng